#logo-ibft{
    width: 150px;
    margin-left: 100px;
}
#logo-ibft:hover{
    transition: 0.3s;
    opacity: 0.3;
}
#estado{
    margin-top:15px;
    margin-left: 110px;
    font-family: 'Merienda', cursive;
}
#navbarNavDarkDropdown{

    display: flex;
    justify-content: flex-end;
    margin-right:  180px;
}
#navbarDarkDropdownMenuLink{
    font-family: 'Merienda', cursive;
    color: white;

}
.dropdown-item{
    font-family: 'Merienda', cursive;
    color: white;
}
.card:hover{
    transition: 0.3s;
    opacity: 0.3;

}

.container{
    margin-top: 310px;
    margin-left: 300px!important;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
  
    #logo-ibft{
        width: 150px;
        margin-left: 150px;
    }
    #estado{
        margin-top:15px;
        margin-left: 150px;
        font-family: 'Merienda', cursive;
    }
    #navbarNavDarkDropdown{

        display: flex;
        justify-content: flex-end;
        margin-right:  150px;
    }
    .card{
        margin-top: 130px;
        margin-left: -270px!important;
        width: 400px;
    }
    .card:hover{
        transition: 0; 
        opacity: 1; 
    
    }
    
}

.sobre-quemsomos{
   
   
    display:flex; 
    margin-top: 100px;
    width: 95%;
    margin-left: 80px;
    justify-content: space-around;
    margin-bottom: 220px;
    
}

.valores{
    display:flex;
    width: 70%;
    margin-left: 300px;
}
.missao{
    display: flex;
    width: 70%;
    margin-top: 55px;
    margin-left: 300px;    
}
.visao{
    display:flex;
    width: 70%;
    margin-left: 300px;
}
#organograma{
    margin-top: 100px;
    margin-left: 180px;
    width: 80%;
}

#quemsomos-img{
    margin-top: 300px;
    margin-left: 600px;
}
#regiao{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;

    margin-left: 660px;
    margin-top: -30px;
}
#missao{
   margin-left: 44px;
}
#visao{
    margin-top: 55px;
    margin-right: 33px;
}