#logo-ibft{

   width: 35%;
   border-radius: 1.2rem;
 
}
#logo-ibft:hover{
    transition: 0.3s;
    opacity: 0.9;
}

.navbar-collapse{
    display: flex;
    justify-content: flex-end;
    margin-right:  180px;
}
.nav-item {
    font-family: 'Merienda', cursive;
    color: white;

}
.dropdown-item{

    color: white;
}
.card:hover{
    transition: 0.3s;
    opacity: 0.3;

}

.container{
    margin-top: 30vh;
    margin-left: 30vh!important;
    display: flex;
    flex-direction: row;
}
.navbar{
    height: 16vh;
}

@media only screen and (max-width: 600px) {
    hr{
        display: none;
    }

    .navbar{
        height: 26vh;
    }

    #logo-ibft{
        width: 150px;
        margin-left: 150px;
    }
    #estado{
        margin-top:15px;
        margin-left: 160px;
        font-family: 'Merienda', cursive;
    }
    .navbar-collapse{

        display: flex;
        justify-content: flex-end;
        margin-right:  19vh;
    }
    .card{
        margin-top: 3vh;
        margin-left: -29vh;
        width: 45vh;
    }
    .card:hover{
        transition: 0; 
        opacity: 1; 
    
    }

    .sobre-quemsomos{
      
        margin-top: 3vh;
        margin-left: -29vh;
        width: 45vh;
        display: grid;
        flex-wrap: wrap;
        padding-top: 22px;
       
  
    }
    #sobre{
        padding-top: 35px;
        margin-right: 15vh;
        text-align: justify;
    }
    #quem-somos{
        padding-top: 35px;
        margin-right: 15vh;
        text-align: justify;
    }

    #quemsomos-img{
        margin-right: 15vh;
        display: flex;
        width: 50vh;
    }

    .valores{
        margin-top: 3vh;
        margin-left: -29vh;
        width: 45vh;
        display: grid;
        flex-wrap: wrap;
        padding-top: 22px;
       
    }
    #img-valores{
        display: none;
       
    }
    #img-missao{
        display: none;
    }
    #img-visao{
        display: none;
    }
    #valores{
        margin-top:-22vh;
        margin-left:-23vh;
        text-align: justify;
        width: 35vh;
      
    }
    #missao{
        margin-top:-5vh;
        margin-left:-23vh !important;
        text-align: justify;
        width: 35vh;
    }
    #visao{
        margin-left:-23vh;
        margin-top:2vh;
        text-align: justify;
        width: 35vh;
        

    }
    
   
    
}

.sobre-quemsomos{
   
   
    display:flex; 
    flex-wrap: wrap;
    margin-top: 30vh;
    width: 95%;
    margin-left: 80px;
    justify-content: space-around;
    margin-bottom: 220px;
    
}

.valores{
    display:flex;
    width: 70%;
    margin-left: 300px;
}
.missao{
    display: flex;
    width: 70%;
    margin-top: 55px;
    margin-left: 300px;    
}
.visao{
    display:flex;
    width: 70%;
    margin-left: 300px;
}
#sobre{
    text-align: justify;
    width: 40vh;
}
#quem-somos{
    text-align: justify;
    width: 40vh ;
}
#missao{
    text-align: justify;
    margin-left: 2vh;
}
#visao{
    text-align: justify;
    margin-top:2vh;
}
#img-visao{
    margin-left: 3vh;
}
hr{
    
    margin-bottom: 22vh;
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; 

}