#logo-ibft{
    width: 150px;
    margin-left: 100px;
}
#logo-ibft:hover{
    transition: 0.3s;
    opacity: 0.3;
}
#estado{
    margin-top:15px;
    margin-left: 110px;
    font-size: 30px;
    font-family: 'Merienda', cursive;

}
#navbarNavDarkDropdown{

    display: flex;
    justify-content: flex-end;
    margin-right:  180px;
}
#navbarDarkDropdownMenuLink{
    font-family: 'Merienda', cursive;
    color: white;

}
.dropdown-item{
    font-family: 'Merienda', cursive;
    color: white;
}
.card:hover{
    transition: 0.3s;
    opacity: 0.3;

}

.container{
    margin-top: 310px;
    margin-left: 300px!important;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {


    #logo-ibft{
        width: 150px;
        margin-left: 150px;
    }
    #estado{
        margin-top:15px;
        margin-left: 120px;
        font-family: 'Merienda', cursive;
    }
    #navbarNavDarkDropdown{

        display: flex;
        justify-content: flex-end;
        margin-right:  170px;
    }
    .card{
        margin-top: 130px;
        margin-left: -270px!important;
        width: 400px;
    }
    .card:hover{
        transition: 0; 
        opacity: 1; 
    
    }
    #quemsomos-img{
        display: flex;
        margin-left: -20px!important;
        width: 510px!important;
        /* justify-content: flex-start; */

    }
    .sobre-quemsomos{
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
        margin-top: -200px!important;
        margin-left: 10px!important;
        /* padding: 220px; */
    }
    
    #img-valores{
        margin-top: -200px;
        margin-left: -600px!important;
    }
    #valores{
        text-align: justify;
        margin-top: 250px!important;
        margin-left: -290px!important;
        width: 450px;


    }
    #img-missao{
        margin-top: 5px;
        margin-left: -400px!important;
        width: 450px;
    }
    #missao{
        margin-top: 600px;
        margin-left: -330px!important;
        margin-top: 460px;
        width: 400px!important;
        text-align: justify;
    }
    #visao{
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
        margin-left: -200px!important;
        margin-top:530px!important;
      
    }
    #img-visao{
        margin-top:50px;
        margin-left: -400px!important;
    }

    
}

.sobre-quemsomos{
   
   
    display:flex; 
    margin-top: 100px;
    width: 95%;
    margin-left: 80px;
    justify-content: space-around;
    margin-bottom: 220px;
    
}

.valores{
    display:flex;
    width: 70%;
    margin-left: 300px;
}
.missao{
    display: flex;
    width: 70%;
    margin-top: 55px;
    margin-left: 300px;    
}
.visao{
    display:flex;
    width: 70%;
    margin-left: 300px;
}
#organograma{
    margin-top: 100px;
    margin-left: 180px;
    width: 80%;
}

#quemsomos-img{
    margin-top: 300px;
    margin-left: 600px;
}
#regiao{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    margin-left: 660px;
    margin-top: -30px;
}
#missao{
   margin-left: 44px;
}
#visao{
    margin-top: 55px;
    margin-right: 33px;
}
#valores{
    margin-top: 100px;
}